#maps {
  position: relative;
  overflow: hidden;
  z-index: 0;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  /* .loading-container */
}
#maps .find-result,
#maps .find-result:after {
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 10;
  height: 44px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#maps .find-result {
  background-color: rgba(24, 139, 126, 0.8);
  color: #ffffff;
  display: block;
  font-weight: 400;
  padding: 10px 20px;
  position: absolute !important;
  top: 161px;
  right: auto;
  bottom: auto;
  left: 54px;
  z-index: 10;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -webkit-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
}
#maps .find-result.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
#maps .find-result:after {
  background-color: rgba(16, 96, 87, 0.8);
  text-align: center;
  font-family: 'FontAwesome';
  content: "\f002";
  font-size: 20px;
  padding-top: 5px;
  width: 44px;
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: auto;
  left: -44px;
  z-index: 1;
  -webkit-border-radius: 3px 0 0 3px;
  -khtml-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#maps .map {
  width: 100%;
  height: 620px;
}
#maps .loading-container {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #E5E5E5;
  display: block;
  height: 100px;
  margin-left: -200px;
  width: 400px;
  position: absolute !important;
  top: 120px;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 12;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#maps .loading-container .text {
  position: absolute !important;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 90px;
  z-index: 1;
  font-size: 16px;
}
#maps .loading-container .text > span {
  border-bottom: 1px dotted #B5B5B5;
  color: #666;
  display: block;
  font-size: 25px;
  padding-bottom: 3px;
  width: 280px;
}
#maps .loading-container .spinner {
  background-color: #1fb7a6;
  height: 50px;
  width: 50px;
  position: absolute !important;
  top: 24px;
  right: auto;
  bottom: auto;
  left: 24px;
  z-index: 1;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
#maps .control-left-wrapper,
#maps .control-right-wrapper {
  cursor: pointer;
  margin: 10px 10px 0 ;
  position: relative;
}
#maps .control-left-wrapper .zoom-in,
#maps .control-right-wrapper .zoom-in,
#maps .control-left-wrapper .zoom-out,
#maps .control-right-wrapper .zoom-out,
#maps .control-left-wrapper .set-position,
#maps .control-right-wrapper .set-position,
#maps .control-left-wrapper .next-ads,
#maps .control-right-wrapper .next-ads,
#maps .control-left-wrapper .prev-ads,
#maps .control-right-wrapper .prev-ads {
  height: 46px;
  width: 42px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
#maps .control-left-wrapper .zoom-in:hover,
#maps .control-right-wrapper .zoom-in:hover,
#maps .control-left-wrapper .zoom-out:hover,
#maps .control-right-wrapper .zoom-out:hover,
#maps .control-left-wrapper .set-position:hover,
#maps .control-right-wrapper .set-position:hover,
#maps .control-left-wrapper .next-ads:hover,
#maps .control-right-wrapper .next-ads:hover,
#maps .control-left-wrapper .prev-ads:hover,
#maps .control-right-wrapper .prev-ads:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
#maps .control-left-wrapper .zoom-in:after,
#maps .control-right-wrapper .zoom-in:after {
  content: '\f067';
}
#maps .control-left-wrapper .zoom-out:after,
#maps .control-right-wrapper .zoom-out:after {
  content: '\f068';
  margin-top: 3px;
}
#maps .control-left-wrapper .set-position:after,
#maps .control-right-wrapper .set-position:after {
  content: '\f124';
  margin-top: 3px;
}
#maps .control-left-wrapper .next-ads:after,
#maps .control-right-wrapper .next-ads:after {
  content: '\f053';
  margin-top: 3px;
  float: left;
}
#maps .control-left-wrapper .prev-ads:after,
#maps .control-right-wrapper .prev-ads:after {
  content: '\f054';
  margin-top: 3px;
  float: left;
}
#maps .control-left-wrapper div:after,
#maps .control-right-wrapper div:after {
  padding: 0;
  font-family: 'FontAwesome';
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-size: 22px;
  bottom: 0;
  left: 0;
  color: #ffffff;
}
/* #maps */
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.infoBox {
  overflow: hidden;
}
.infoBox img {
  position: absolute !important;
  top: 70px;
  right: 20px;
  bottom: auto;
  left: auto;
  z-index: 9;
  background-color: rgba(20, 20, 20, 0.6);
}
.rem-box-maps {
  margin: 60px 0 10px;
  width: 320px;
  height: 300px;
  background-color: #FFF;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  /* .img-container */
}
.rem-box-maps .img-container {
  position: relative !important;
  height: 260px;
  width: 320px;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* .title */
}
.rem-box-maps .img-container:after {
  border: 8px solid rgba(250, 250, 250, 0.5);
  content: '';
  width: 100%;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;
  z-index: 7;
}
.rem-box-maps .img-container .title {
  background-color: rgba(31, 183, 166, 0.9);
  color: #ffffff;
  display: block;
  font-size: 18px;
  height: 40px;
  padding: 5px 10px 0 36px;
  line-height: 1.7;
  overflow: hidden;
  font-weight: 200;
  position: absolute !important;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.rem-box-maps .img-container .title:after,
.rem-box-maps .img-container .title:before {
  font-family: 'FontAwesome';
  background-color: #188b7e;
  line-height: 1.15;
  text-align: center;
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  z-index: 1;
}
.rem-box-maps .img-container .title:after {
  content: '\f041';
  font-size: 20px;
  padding-top: 8px;
  left: 0;
  width: 30px;
  font-weight: 100;
}
.rem-box-maps .img-container .title:before {
  content: '\f105';
  font-size: 32px;
  right: 0;
  width: 22px;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
}
.rem-box-maps .img-container .title:hover {
  background-color: rgba(31, 183, 166, 0.9);
}
.rem-box-maps .img-container .title:hover:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
.rem-box-maps .description {
  background-color: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
  font-size: 14.5px;
  font-weight: 100;
  line-height: 1.2;
  padding: 6px 12px 8px;
  text-align: justify;
  height: 81px;
  overflow: hidden;
}
.rem-box-maps .price {
  background-color: rgba(70, 190, 170, 0.8);
  color: #ffffff;
  font-size: 28px;
  font-weight: 100;
  height: 42px;
  padding: 2px 0 0;
  text-align: center;
  position: absolute !important;
  top: 336px;
  right: 30px;
  bottom: auto;
  left: 30px;
  z-index: 4;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
}
.rem-box-maps:hover .price {
  top: 220px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
.rem-box-maps .details {
  border-bottom: 4px solid #16A393;
  background-color: #FFF;
  position: relative;
  list-style: none;
  height: 40px;
  z-index: 5;
  padding: 0;
  margin: 0;
}
.rem-box-maps .details .label {
  line-height: 36px;
  font-size: 13px;
  margin: 8px;
}
.rem-box-maps .details li {
  background: url(../../images/icon-ads-grey.png) no-repeat scroll 5px top;
  float: left;
  color: #777;
  font-size: 13px;
  height: 36px;
  padding: 10px 0 0 54px;
  margin-right: 1px;
  position: relative;
  z-index: 8;
  width: 75px;
}
.rem-box-maps .details li.room {
  background-position: 9px -98px;
}
.rem-box-maps .details li.bed-room {
  background-color: #F7F7F7;
  background-position: 9px -130px;
}
.rem-box-maps .details li.bath-room {
  background-color: #EFEFEF;
  background-position: 9px -161px;
}
.rem-box-maps .details li.size {
  background-color: #E6E6E6;
  background-position: 9px -64px;
  margin-right: 0;
  width: 92px;
}
.rem-box-maps .details li:after {
  background: url(../../images/mini-arrow.png) no-repeat scroll right top;
  content: "";
  height: 36px;
  width: 22px;
  position: absolute !important;
  top: 8px;
  right: auto;
  bottom: auto;
  left: 26px;
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
.type-filtering button:focus {
  outline: none !important;
  border: none !important;
}
.rem-box-maps .inline-property-icons {
  text-align: center;
}